SECRET_KEY=change-me
DEBUG=false
ALLOWED_HOSTS=47.109.184.51,localhost,127.0.0.1

DB_NAME=tengfang_broadcast
DB_USER=tengfang_user
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_BUCKET_NAME=cqbz-indoor-exercises
OSS_ENDPOINT=oss-cn-chengdu.aliyuncs.com
OSS_VIDEO_PATH=7da4f66416cb4507e0ba34fac906a0df.mp4
OSS_VIDEO_PATH_TWO=

CORS_ALLOWED_ORIGINS=http://47.109.184.51,http://localhost,http://127.0.0.1
CSRF_TRUSTED_ORIGINS=http://47.109.184.51,http://localhost,http://127.0.0.1
SESSION_COOKIE_SECURE=true
CSRF_COOKIE_SECURE=true
SECURE_SSL_REDIRECT=false
